################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/path-tracer/v17
/WhittedRaytracer/.vs/WhittedRaytracer
/WhittedRaytracer/WhittedRaytracer/Debug/Camara.obj
/WhittedRaytracer/WhittedRaytracer/Debug/Cilindro.obj
/WhittedRaytracer/WhittedRaytracer/Debug/Elemento.obj
/WhittedRaytracer/WhittedRaytracer/Debug/Escena.obj
/WhittedRaytracer/WhittedRaytracer/Debug/Esfera.obj
/WhittedRaytracer/WhittedRaytracer/Debug/Foton.obj
/WhittedRaytracer/WhittedRaytracer/Debug/Luz.obj
/WhittedRaytracer/WhittedRaytracer/Debug/Pantalla.obj
/WhittedRaytracer/WhittedRaytracer/Debug/Plano.obj
/WhittedRaytracer/WhittedRaytracer/Debug/pugixml.obj
/WhittedRaytracer/WhittedRaytracer/Debug/Rayo.obj
/WhittedRaytracer/WhittedRaytracer/Debug/Raytracer.obj
/WhittedRaytracer/WhittedRaytracer/Debug/Triangulo.obj
/WhittedRaytracer/WhittedRaytracer/Debug/vc143.idb
/WhittedRaytracer/WhittedRaytracer/Debug/vc143.pdb
/WhittedRaytracer/WhittedRaytracer/Debug/Whitted.obj
/WhittedRaytracer/WhittedRaytracer/Debug/WhittedRaytracer.exe.recipe
/WhittedRaytracer/WhittedRaytracer/Debug/WhittedRaytracer.ilk
/WhittedRaytracer/WhittedRaytracer/Debug/WhittedRaytracer.log
/WhittedRaytracer/WhittedRaytracer/Debug/WhittedRaytracer.tlog/CL.command.1.tlog
/WhittedRaytracer/WhittedRaytracer/Debug/WhittedRaytracer.tlog/Cl.items.tlog
/WhittedRaytracer/WhittedRaytracer/Debug/WhittedRaytracer.tlog/CL.read.1.tlog
/WhittedRaytracer/WhittedRaytracer/Debug/WhittedRaytracer.tlog/CL.write.1.tlog
/WhittedRaytracer/WhittedRaytracer/Debug/WhittedRaytracer.tlog/link.command.1.tlog
/WhittedRaytracer/WhittedRaytracer/Debug/WhittedRaytracer.tlog/link.read.1.tlog
/WhittedRaytracer/WhittedRaytracer/Debug/WhittedRaytracer.tlog/link.write.1.tlog
/WhittedRaytracer/WhittedRaytracer/Debug/WhittedRaytracer.tlog/WhittedRaytracer.lastbuildstate
/WhittedRaytracer/Debug/WhittedRaytracer.exe
/WhittedRaytracer/Debug/WhittedRaytracer.pdb
