################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/path-tracer/v17
/WhittedRaytracer/.vs/WhittedRaytracer
